:root {
    --primary-color: #97ce4c;
    --portal-blue: #24c0eb;
}

.card {
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(40, 40, 40, 0.6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;

}

.card::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(0deg, var(--primary-color), var(--portal-blue));
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(59, 203, 255, 0.3);
}


.episode-info {
    flex: 1;
    margin-left: 8px;
}

.episode-title {
    margin: 0 0 0.5rem 0;
    color: #fff;
}

.episode-link {
    text-decoration: none;
    color: inherit;
}

.episode-details {
    margin: 0.25rem 0;
    color: #666;
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
}

.favorite-button,
.watched-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.favorite-button:hover,
.watched-button:hover {
    background-color: #e0e0e0;
}

.favorite-button.active {
    background-color: #f8d568;
}

.favorite-button.active:hover {
    background-color: #f5c542;
}

.watched-button.active {
    background-color: #6ecf6e;
}

.watched-button.active:hover {
    background-color: #5bb85b;
}